@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-size: 16px;
	font-weight: normal;
	background: #f1f1f1;
	color: #0f141e;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:active{
	color: blue;
}

a:visited {
	color: grey;
}

.avatar{
	width: 250px;
	border-radius: 28px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.container{
	max-width: 750px;
	margin: auto;
	padding-top: 30px;
}


.info{
	margin-bottom: 20px;
	display: flex;
}

@media(max-width: 650px){
	.info{
		display: block;
		text-align: center;
	}
}

.info-text{
	margin-left: 40px;
}

.info-text p{
	font-style: italic;
	font-weight: bold;
	color: #86898f;
	margin: 0;
}

.info-text h4{
	margin-bottom: 10px;
}


/*Styles of boxes*/

.card{
	border-radius: 20px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.card h2 {
	margin-bottom: 20px;
	color: #3c3b3b;
}


/*Background colors of boxes*/

.bg-red{
	background: #fab09b;
}

.bg-purple{
	background: #fcc7c7;
}

.bg-yellow{
	background: #faf8bb;
}

.bg-green{
	background: #e0ff91;
}


/*FeedBack button's style*/

.btn{
	background: #111;
	padding: 10px 20px;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-family: inherit;
	cursor: pointer;
	margin: 10px;
}

.btn:hover{
	opacity: .8;
	transition: .2s;
}


/*Feedback form style*/

.form h2{
	text-align: center;
}

.form-group label{
	display: block;
	font-size: 14px;
	columns: #86898f;
}

.form-row{
	margin-bottom: 10px;
	display: flex;
}

.form-row, .form-group {
	margin-right: 20px;
	width: 100%;
}

.form-row, .form-group:last-child{
	margin-left: 0;
}


.form-group input,
.form-group textarea{
	width: 100%;
	box-sizing: border-box;
	border: none;
	padding: 15px 0px 10px;
	background: transparent;
	border-bottom: 1px solid #ccc;
	outline: none;
	font-family: inherit;
}

@media(max-width: 650px){
	.form-row{
		display: block;
	}

	.form-row, .form-group{
		widows: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
}



/*Hobbies, Skills and Languages list's styles*/

.list,
.lang-list,
.skill-list{
	padding: 0 20px;
}

.list li,
.lang-list li,
.skill-list li {
	color: #86898f;
	margin-bottom: 10px;
}


/*Experience list's styles*/

.link-list{
	list-style: none;
	padding: 0;
}

.link-list li{
	border-bottom: 1px solid #ccc;
	padding: 5px;
}